/*

------1------ header------
------2------ section-----





*/

:root {
 --primary-black:#000; 
 --primary-orange:#FF8A56;

}
*{
   /*outline: 1px solid red */   /*saytdaki surusmeleri ve onlari neyin yaratdigini teyin etmek ucun istifade edilir*/
}


@import url(./reset.css);
@import url(@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'););


a {
    text-decoration: none; /*butun a-larin rengini qara vermek ucundur*/
}
html{
    font-size: 16px ;
}
.fa-bars {
    display: none;
}

 body {
    font-family: 'Roboto', sans-serif;

}   
header{
    display: flex;
    /*flex-direction: row;*//*istiqameti mueyyenlesdirir:justify-content: align-items*/
   /* flex-direction-row-setir uzre yigir,row-reverse-setri tersine cevirir,column-alt-alta getirir,column-reverse-sayti bas ayaq edir. hal hazirda flex-directiondan istifade etmeyimize ehtiyac yoxdur cunki displayi rowdur*/
    justify-content: space-between; /*kodu soldan saga dogru nizamlayacaq,space-arround versek etrafdan mueyyen qeder bosluqlar verecek,space-evenly versek cox az ferqle yene bosluq verecek,center merkeze dasiyir elementleri*/
    align-items:center; /* cross axis y oxu eger 27ci setri row vermeseydik 29cu setre esasen soldan saga dogru cekecekdi.yeni onun isi 27ci setre esaslanir.displayde row oldugu ucun 27ci setri komente atiriq  */
    padding-top:  41px; 
    padding-left: 7.03rem;  /*112.5px-i reme kecirmek ucun 16px-ye boluruk=7.03rem*/
    padding-right: 7.03rem;  


} 



header .nav-links a {
    color:var(--primary-black); /*bu setri yazmagin sebebi backgroundun qara olmagindan basqaki hallarinda rengi black verecek,14cu setrde umumi verilib eger bu 36ci setr verilmeseydi arxa fonu black olsa linkler gorunmeyecekdi sehifede*/
   
}

 /*media mobil cihazlar ucun interfeysi yaratmaq ucundur */

 @media (max-width:900px)   /*2 deyeri masaustunde alt-alta almaq ucun mediadan istifade etdik*/
 
 {

    header {
        padding-left: 22px;
        padding-right: 22px;
    }




   /*child selector*/
    header > nav{
        display: none;
        
    }
    .fa-bars{
        display:flex ;
    }
 }
 
 /*introduction section*/
 .introduction
 {
    padding-left: 112.5px;
    padding-right: 112.5px;
    display: flex;
    flex-wrap: wrap;  /*2 dene element min olcuye catanda kicilmeye icaze vermir,wrap edir ve alta atir */
} 
 
 
.introduction button{
    background-color: #000;
    color: #FFF;
    padding: 17px;
    width: 151px;
    height: 58px;

}
 
 
 .intro-left-side

{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding-top: 117px;
    min-width: 715px;
    flex-direction: column;


}
 /*child selector*/
.intro-left-side > h1 {
   font-size: 72px;
   margin-top: 0;
   margin-bottom: 0;
    

}
.intro-left-side >h1 >span {
    color: var(--primary-orange);
    

}
.intro-left-side p{
    font-size: 22px;
    font-weight: 400;
    color: #666;
   /* text-transform: capitalize; */
}

.intro-right-side {
    
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-top: 70px;
}
 
@media(max-width:1473) and (min-width:768) {
.intro-left-side{
    flex-basis: 100%;
    align-items:  center;
    

}
.introduction{
    padding-left: 0;
    padding-right: 0;
}
.intro-right-side{

    justify-content: center;
}
}
@media(max-width:768px){
    
    .introduction {
       padding-left: 0;
       padding-right: 0;

    }
    .intro-left-side{
       min-width: 400px;
       text-align: center; 
    }
}
  

body{
    overflow-x: hidden;
}

